{%- set external_urls = {
  'github': 'https://github.com/speediedan/finetuning-scheduler',
  'github_issues': 'https://github.com/speediedan/finetuning-scheduler/issues',
  'contributing': 'https://github.com/speediedan/finetuning-scheduler/blob/main/CONTRIBUTING.md',
  'governance': 'https://finetuning-scheduler.readthedocs.io/en/latest/governance.html',
  'docs': 'https://finetuning-scheduler.readthedocs.io/en/latest',
  'twitter': 'https://twitter.com/speediedan',
  'home': 'https://finetuning-scheduler.readthedocs.io/en/latest/',
  'get_started': 'https://finetuning-scheduler.readthedocs.io/en/latest/index.html',
  'api': 'https://finetuning-scheduler.readthedocs.io/en/latest/fts_api.html',
  'features': 'https://finetuning-scheduler.readthedocs.io/en/latest/',
  'support': 'https://finetuning-scheduler.readthedocs.io/en/latest/',
}
-%}
