.yellow-highlight {
    background-color:#F9FEC8;
    opacity: 0.7;
}

.blue-highlight {
    background-color: #5d5dff;
    opacity: 0.7;
}

.green-highlight {
    background-color: #82a883;
    opacity: 0.7;
}
