name: Schema
on: # Trigger the workflow on push or pull request, but only for the main branch
  push: {}
  pull_request:
    branches: [main]

jobs:
  check:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: "requirements/**/*.txt"
          version: "latest"

      - name: GH Workflows
        run: uvx check-jsonschema .github/workflows/*.yml --builtin-schema "github-workflows"

      # - name: Azure Pipelines
      #   env:
      #     SCHEMA_FILE: https://raw.githubusercontent.com/microsoft/azure-pipelines-vscode/v1.204.0/service-schema.json
      #   run: check-jsonschema .azure-pipelines/*.yml --schemafile "$SCHEMA_FILE"
